
body {
    margin: 0; 
    padding: 0;
    background-image: url(https://d1pjg4o0tbonat.cloudfront.net/content/dam/midea-aem/global/MideaGM_animation_v3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }














  /* https://i.makeagif.com/media/6-21-2021/Ml33kt.gif */

  /* https://giffiles.alphacoders.com/105/105207.gif */